html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.current-company {
  border-radius: 15px;
  border-style: solid;
  border-color: #1bb0f5;
  border-width: 5px;
}
.company {
  border-radius: 15px;
  border-style: solid;
  border-color: #fff;
  border-width: 5px;
}